.svn*
*~
*.kdev4
*.user
cvs/
*.a
*.cor
*.COR
*.dat
*.DAT
*.dbm
*.DBM
*.dgm
*.DGM
*.dtp
*.DTP
*.dts
*.DTS
*.escor
*.ESCOR
*.exe
*.EXE
*.out
*.OUT
*.PBM
*.pbm
*.PGM
*.pgm
*.RPC
*.rpc
*.tif
*.TIF
*.tag
*.raw
*.RAW
*.rsl
*.RSL
bin/*.txt
bin/*.TXT
CMakeFiles
libldsc
lvp
Makefile
cmake_install.cmake
doc
autom4te.cache
qtc-gdbmacros
pullToGithub
pushToGithub
ui_*.h
qrc_*.cpp
tmp/
*.pro.user.*

